.main{

    
    
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        
    }
    div{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid black;
    
    }
    .div1{
        background-color: red;
    }
    .div2{
        background-color: green;
    }
    .div3{
        background-color: blue;
    }
    
    
    