.parent{

    background-color: pink;
    font-size: 50px;
    text-align: center;
     text-decoration: line-through;
     text-decoration-color: greenyellow;
     
     font-size:italic;
     text-shadow: 5px 10px 5px green;
     font-style: italic;
     word-spacing: 50px;
     line-height: 100px;
}