

body {
    background-color: blue;
}

h1{

    background-color:yellow ;
}

.head1{
   background-color: aqua; 
text-align: center;

text-decoration: underline;
text-decoration: wavy;

}
.wrapper{

background-color: tomato;
color: white;
padding-left:20px ;
padding-top: 20px;
padding-bottom: 20px;

}