



.parent{

    background-color: grey;
    display: flex;
   padding: 50px;
text-align: left;
text-align: center;

}





.container ul{
    display: flex;
    gap: 60px;
    list-style: none;
    text-align: center;
    margin-left: 200px;
 
    
    
}
.phone{
    text-decoration-line: ;
    margin-top: ;
    

    
}

    
